RewriteEngine On

RewriteRule ^api/equipment$ src/Controller/Equipment/EquipmentController.php [NC,L]
RewriteRule ^cors$ config/cors.php [NC,L]
RewriteRule ^api/loan$ src/Controller/Loan/LoanController.php [NC,L]
RewriteRule ^api/user/$ src/Controller/User/UserController.php [QSA,NC,L]
